<div class="container">
    <div class="page-header-content">
        <div class="page-title">
          <h4 style="color:#105397 !important;"><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold" style="color:#105397 !important;">Home</span> - Dashboard</h4>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
      </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heading</th>
      <th scope="col">Text</th>
      <th scope="col">Aircraft</th>
      <th scope="col">Task</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>29.01.18</td>
      <td>Ramp Control</td>
      <td>Token Authentication</td>
      <td>ASLF</td>
      <td>backend</td>
      <td>Illarion Medvedev</td>
    </tr>
    <tr>
        <td>29.01.18</td>
        <td>Ramp Control</td>
        <td>Token Authentication</td>
        <td>ASLF</td>
        <td>backend</td>
        <td>Illarion Medvedev</td>
      </tr>
      <tr>
          <td>29.01.18</td>
          <td>Ramp Control</td>
          <td>Token Authentication</td>
          <td>ASLF</td>
          <td>backend</td>
          <td>Illarion Medvedev</td>
        </tr>
  </tbody>
</table>
</div>